.aboutMe {
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    gap: 5rem;
}

.aboutMeContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aboutMeContent {
    display: flex;
    margin-left: 5%;
    font-size: 20px;
    max-width: 700px;
    flex-grow: 1;
    align-items: center;
}

.aboutMeContent ul {
    list-style-type: none;
    padding: 0;
    min-width: 450px;
}

.aboutMeContent li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.aboutMeContent li .icon {
    margin-right: 15px;
}

.aboutMeHeader {
    display: flex;
    min-width: 370px;
    max-width: 370px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 5.5%;
}

.socialMedia img {
    width: 100%;
    height: 60px;
    transition: all 0.5s;
}

.socialMedia :hover {
    scale: 1.1;
}

.aboutMe_list {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.skillsList {
    width: 70%;
    height: 50px;
    content-visibility: auto;
    overflow: hidden;
    will-change: transform;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.skillConveyor {
    display: flex;
    color: white;
    flex-direction: row;
    gap: 20px;
    width: 200%;
    justify-content: center;
    align-items: center;
    position: relative;
}


.skillSlide {
    display: inline-flex;
    animation: moveRight 20s linear infinite;
    white-space: nowrap;
}



.skillConveyor .skillSlide {
    display: flex;
    gap: 20px;
}

.skills {
    background-color: #3b4957;
    padding: 10px;
    border-radius: 20px;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 768px) {
        .aboutMeContainer {
        flex-wrap: wrap;
    }

    .aboutMe h1 {
        margin-top: 5rem;
        font-size: 29px;
    }

    .aboutMe h2 {
        width: 80%;
        display: inline-block;
    }


    .aboutMeContent .text {
        font-size: 15px;
    }

    .aboutMeContent li .icon {
        margin-right: 10px;
    }

    .socialMedia {
        justify-content: center;
        gap: 15px;
        margin-top: 0;
    }

    .skillsList {
        width: 85%;
        margin-bottom: 3rem;
    }

    .aboutMe {
        gap: 2rem;
    }
    .aboutMeHeader {
        width: auto;
        min-width: auto;
        max-width: auto;
    }
    .aboutMeContent ul {
        min-width: auto;
    }
}