.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    max-width: 100vw;
    height: 100px;
}
.footerText{
    margin: 0 auto;
    min-width: fit-content;
}
.footer .socialMedia {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    margin-top: 0;
}
.footer .socialMedia img {
    width: 45px;
    height: 45px;
}