@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background-color: black;
    align-items: center;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.intro.fadeInUp{
    animation: fadeInUp 2s ease-out forwards;
}
.skillsList.scaleUp {
    animation: scaleUp 2s ease-out forwards;
}

.aboutMeContent li .text.moveRight, .card.moveRight {
    animation: moveRight 1s ease-out forwards;
}
.card.moveLeft {
    animation: moveLeft 1s ease-out forwards;
}
.socialMedia.scaleUp {
    animation: scaleUp 1s ease-out forwards;
}
.certificationHeader.fadeInDown {
    animation: fadeInDown 1s ease-out forwards;
}


@keyframes skillConveyorAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.33%);
    }
  }

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;

    }
}